div#main_container{
	position: absolute;
	background-color: #F3F3FF
; 
	border-style: solid; 
	border-width: 1px; 
	width: 100%;
	height: 100%;
}

div#left_container{
	position: relative;
	background-color: #F3F3FF;
	border-style: solid; 
	border-width: 1px; 
	float: left;   
	width: 49%;
	height: 100%;
	display: block;
	clear: both;

	border-style: solid; 
	border-width: 1px; 

}

div#right_container{
	position: relative;
	background-color: #F3F3FF; 
	border-style: solid; 
	border-width: 1px; 
	float: right;     
	width: 50%;
	height: 100%;
	display: block;

	border-style: solid; 
	border-width: 1px; 	
}

div#left_top_container{
	position: relative;
	background-color: #F3F3FF;
	width: 100%;
/*	height: 25%; */ 
	height: 115px;
	display: block;

	border-style: solid; 
	border-width: 1px; 	
}

div#enter_quote_div{
	position: relative;
	background-color: #F3F3FF; 
	font-family: arial; 
	font-size: 15px; 
	width: 100%;
/*	height: 49%; */ 
	height: 100%;

	border-style: solid; 
	border-width: 1px; 	
}
				
/* div#place_order_div{
	position: relative;
	background-color: #E4FBF1;
	font-family: arial; 
	font-size: 15px; 	
	width: 100%; 
	height: 50%;	

	border-style: solid; 
	border-width: 1px; 	
} */

div#left_bottom_container{
	position: relative;
	background-color: #F3F3FF;
	width: 100%;
/*	height: 74%; */
	height: 85%; 
	overflow: scroll; / 
	display: block;

	border-style: solid; 
	border-width: 1px; 	
}

div#right_top_container{
	position: relative;
	background-color: #F3F3FF;
	width: 100%;
	height: 65%;  
	overflow: scroll;
	display: block;

	border-style: solid; 
	border-width: 1px; 

}

div#right_bottom_container{
	position: relative;
	background-color: #F3F3FF;
	width: 100%;
	height: 32%;  
	display: block;

/*	border-style: solid; 
	border-width: 1px;  */ 

}


div#bigcharts_chart_container{
	position: relative;
/*	background-color: #F3F3FF; */ 
/*	background-color: red;  */
	width: 53%;  
	height: 100%; 	
	display: inline-block;

	border-style: solid;  
	border-width: 3px; 	
	border-color: red;
}

div#bigcharts_yest_close{
/*	border-width: 1px;   */ 
	display: inline-block;
	width: 44%; 
	height: 100%;
	vertical-align: top;
	border-style: solid;   
}

#quote_input{
	text-align: left;
}

#yestCloseText{
	width: 60px;
}

#amountSpending{
	width: 72px;
}

#entryPercentage{
	width: 40px;
}

#entryPrice{
	width: 75px;
}

#calculatedPercentage{
	width: 45px;
	height: 20px;
	display:inline-block;	
	border-radius: 5px;	
	background-color: #FFFFFF;
	border-style: solid; 
	border-width: 1px; 	
}

#calculatedPrice{
	width: 70px;
	height: 20px;
	display:inline-block;	
	border-radius: 5px;		
	background-color: #FFFFFF;
	border-style: solid; 
	border-width: 1px; 	
}

#finalSymbol{
	width: 80px;
	background-color: #FFFFFF;  
}

#finalShares{
	width: 160px;
	background-color: #FFFFFF;  	
}

#finalPrice{
	width: 160px;
	background-color: #FFFFFF;  	
}

#finalPercentage{
	width: 80px;
	background-color: #FFFFFF;  
}

#numShares{
	width: 50px;
	background-color: #FFFFFF;  
}

#eTradeLow{
	width: 50px;
	background-color: #FFFFFF;  
}

#orderStub{
	width: 315px;
}

#volumeChecked{
	display: none;
	width: 250px;
	height: 25px;
}

#windowNumber{
	display: none;
	width: 250px;
	height: 25px;
}

#copy_price_to_percentage{
	border-style: solid; 
	border-width: 1px; 	
}

#email_trade{
	width: 10px; 
	border-style: solid; 
	border-width: 1px; 	
}

li.indent{
	margin-left: 25px;
}